.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-layout{
width:150px;
height:130px;
background-color:white;
color:black;
/* background-image: url("./icons/card.png"); */
-webkit-box-shadow: 0px -1px 4px 8px rgba(243,243,243,1);
-moz-box-shadow: 0px -1px 4px 8px rgba(243,243,243,1);
box-shadow: 0px -1px 4px 8px rgba(243,243,243,1);
border-radius: 20px;
}
.align-right{
  text-align: right;
}
.sidemenu-right{
  position: absolute;
  right :0;
}
.menu-block {
  color: black;
height: 50px;
width:200px;
padding: 0;
margin: 0;
background-color: #F8F8F8;
}
.position{
  position: relative;
}

.menu-right{
  -webkit-box-shadow: -8px -1px 5px 0px rgba(196,194,196,1);
-moz-box-shadow: -8px -1px 5px 0px rgba(196,194,196,1);
box-shadow: -8px -1px 5px 0px rgba(196,194,196,1);
width:200px;
height:1000px
}
.block-line{
  height: 30px;
}
.menu-right div{
  direction:rtl;
}

.nav-item div{
  /* background-color:red !important; */
  /* border :none; */
  /* border:none; */
right:auto !important;
left: 0;
margin-left:10px;
}
/* 
.headSide{
  
   background-color:#F8F8F8 ;
    line-height:3;
    position:fixed;
    width:100%;
    padding:0px;
} */
.style1{

  width: 84.41px;
height: 25.39px;
font-family: "Noto Kufi Arabic";
font-weight: normal;
font-size: 16px;
text-align: right;
color: #8d8e8e;

}