body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app{
 
  /* margin: 100px; */
}
.my-card{
  
  /* margin: 10px !important; */
  padding: 6px 10px;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
}
.round-btn{
  padding: 10px 25px !important;
  border-radius:50px !important;
 
}
.round-btn-small{
  padding: 5px 10px !important;
  border-radius:50px !important;
 
}
.text-description{
  font-size: 0.9em;
  color: grey;
}


.footer-table {
  width: 100%;
  padding: 20px !important;
  background-color:#001527;
  color: white;
}
.footer-table td  {
  width:25%;
  align-content: flex-end;
}
.footer-table tr  {
  margin: 20px;
}

.left-side-bar-container{
  border-radius: 10px;
  background-color:white 
}

#myTable div {
  display: block;
margin-top: 20px;
margin-bottom:20px; 
  padding: 10px !important;
  width: 100%;
  border-radius: 10px !important;
  background-color:gainsboro;

}
.navbar {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: #003257;
}